/* ----------Homepage--------- */
/*-----Login-----*/
/* Vertical Container for Login and Register */
.verticalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

/* Login και Register Containers */
.loginContainer,
.registerContainer {
  flex: 0 0 30%;
  text-align: center;
}

/* Align Login Form */
.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.formGroupLogin {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.loginLabel {
  width: 100px;
  text-align: left;
}

.loginInput {
  flex: 1;
}

.loginButton {
  align-self: flex-end;
  margin-top: 10px;
}

/* Align Register Form */
.registerForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.formGroupRegister {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.registerLabel {
  width: 100px;
  text-align: left;
}

.registerInput {
  flex: 1;
}

.registerButton {
  align-self: flex-end;
  margin-top: 10px;
}

/* Dashboards Header */
.homeHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dashboardHeader {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px 20px;
}

.headerLeft {
  text-align: left;
}

.headerCenter {
  text-align: center;
  justify-self: center;
}

.logoutButton {
  justify-self: end;
}

/* ----------Common Code---------- */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Divider Line */
.divider {
  margin: 20px auto;
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
}

/* Dashboard Layout */
.dashboardContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  gap: 20px;
}

/* Ticket Details Section */
.ticketDetails {
  flex: 1;
  margin-right: 3%;
}

/* Create Ticket Section */
.createTicketSection {
  margin-left: 5%;
  width: 90%;
}

/* Section Headers */
.sectionHeader {
  text-align: left;
  font-size: 18px;
  margin-bottom: 10px;
}

/* ----------Create Ticket Component--------- */

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.formGroup label {
  margin-bottom: 5px;
}

/* Limit form width and center it */
.createTicketForm {
  width: 33%;
  margin-left: 5%;
}

/* ----------Ticket List Component--------- */

/* Tickets List Section */
.ticketsList {
  flex: 1;
  margin-left: 3%;
}

/* General Ticket List */
.ticketList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ticketItem {
  margin-bottom: 15px;
}

.ticketItem strong {
  display: inline-block;
  margin-bottom: 5px;
}

.ticketItem select {
  margin-bottom: 10px;
}

.ticketItem button {
  margin-right: 10px;
  margin-top: 5px;
}

/* Ticket Item Divider Line */
.ticketItemDivider {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ccc;
  width: 80%;
}
