body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h2 {
  color: #333;
  text-align: center;
  margin: 20px 0;
}
hr {
  border: none;
  border-top: 2px solid #ddd; /* Adjust thickness and color as needed */
  margin: 10px 0; /* Add space around the divider */
  width: 100%;
}
