/* Container for the Home Page */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

/* Header Style */
.header {
  text-align: center;
  margin-bottom: 20px;
}

/* Authentication Section (Login and Register) */
.authContainer {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 1200px;
}
